html{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 16px;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    margin: 0;
}

header {
    grid-column: 1 / 13;
    margin: 15px;
}

main {
    line-height: 1.75em;
    grid-column: 4 / 13;
    width: 90%;
}

nav {
    grid-column: 1 / 4;
    line-height: 1.75em;
    overflow: hidden;
    margin-left: 10px;
}

.screenshots {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

#logo {
    width: 75px;
    display: inline-flex;
}

h1 {
    display: inline-flex;
    font-size: 1.4rem;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #5792CD;
}

footer {
    grid-column: 1 / 13;
    margin: 0;
    background-color: lightgrey;
}

#logo-footer {
    width: 250px;
    display: inline-flex;
    margin: 15px;
}

.footer {
    display: inline-block;
    margin-left: 30px;
}

#sitenav {
    width: 100%;
    margin: 0;
}

#sitenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sitenav ul li {
    display: inline-block;
    padding: 14px 16px;
}

#sitenav ul li a:hover {
    color: darkblue
}

li a:hover {
    color: darkblue
}

ul {
    list-style-type: none;
}

#google_translate_element {
    float: right;
}